### Named Tuples

In [ ]:
## Tuples are Ordered.

In [9]:
tup = (34, 45)
tup[0], tup[1]

(34, 45)

In [ ]:
## Named tuples are easier to read with specific names than the indexes

In [10]:
from collections import namedtuple

- Named Tuple (StudentRecord) is OBJECT namedtuple class
- StudentRecord is like a CLASS which can be instantiated to create customized tuples 
- Student01 is a OBJECT of StudentRecord

In [44]:
StudentRecord = namedtuple('Student', ['name', 'math', 'science', 'reading']) ## Not sure of the use of first Parameter

In [45]:
Student01 = StudentRecord('Ranjith', '34', '45', '89')

In [46]:
Student01.math, Student01.science

('34', '45')

In [47]:
int(Student01.reading)

89

In [48]:
f'{Student01.name} has scored {Student01.math} in Math'

'Ranjith has scored 34 in Math'

In [50]:
Student02 = StudentRecord(name='Madhuri', math='86', science='76', reading='67')

In [51]:
f'{Student02.name} has scored {Student02.science} in science'

'Madhuri has scored 76 in science'

### Default Dict

In [53]:
from collections import defaultdict

- Default Dict object needs to be defined with the data type of the Key's VALUE
- Value can be assigned to a Key which never existed before

In [54]:
scores = defaultdict(list)

In [55]:
scores['Ranjith'].append(45)

In [56]:
scores

defaultdict(list, {'Ranjith': [45]})

In [57]:
scores['Srinika'] = 54

In [58]:
scores

defaultdict(list, {'Ranjith': [45], 'Srinika': 54})

In [60]:
marks_scored = [('Ranjith', 90), ('Madhuri', 99), ('Srinika', 100),
                ('Srinika', 76), ('Madhuri', 87), ('Ranjith', 67)]

In [61]:
dict_scores = defaultdict(list)

In [62]:
for name, mark in marks_scored:
    dict_scores[name].append(mark)

dict_scores

defaultdict(list,
            {'Ranjith': [90, 67], 'Madhuri': [99, 87], 'Srinika': [100, 76]})

In [64]:
scores = dict(dict_scores)
scores

{'Ranjith': [90, 67], 'Madhuri': [99, 87], 'Srinika': [100, 76]}

### COUNTER

In [2]:
from collections import Counter

- Counts the occurance of a word in a string/collection of words (BLOB)
- Creates a Dictionary with the word as a KEY and Count of occurances as VALUE
- Sorts the dictionary based on the word with maximum occurance in descending order

In [66]:
blob = """Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        """

In [67]:
### If the same problem has to be solved with the use of Collections module it would be like below

In [70]:
blob_split = blob.split()
blob_split[:5]

['Lorem', 'ipsum', 'dolor', 'sit', 'amet,']

In [77]:
word_occurance = {}

# Create the Dictionary
for word in blob_split:
    if word not in word_occurance:
        word_occurance[word] = 0
    word_occurance[word] += 1
    
sorted_dict = sorted(word_occurance.items(), key=lambda x: x[1], reverse=True)
sorted_dict[:5]

[('in', 3), ('dolor', 2), ('ut', 2), ('dolore', 2), ('Lorem', 1)]

In [78]:
### Using Counter module

In [80]:
occurance = Counter(blob_split)
occurance.most_common(5)

[('in', 3), ('dolor', 2), ('ut', 2), ('dolore', 2), ('Lorem', 1)]

In [4]:
c = Counter()
c = Counter('gallahad')
print(c)

Counter({'a': 3, 'l': 2, 'g': 1, 'h': 1, 'd': 1})

In [7]:
c = Counter({'red': 4, 'blue': 2})
print(c.most_common(1))

[('red', 4)]

In [9]:
c = Counter(cats=4, dogs=8)
print(c.most_common(1))

[('dogs', 8)]

### DEQUE

In [81]:
from collections import deque

- DEQUE represent Stacks in Python
- Lists are memory intensive as they have to all contiguous around to a different memory location everytime value is CHANGED
- DEQUE is based on Linked Lists, so they are NOT memory itensive (Refer to Grokking Algorithm). 
- Linked List does not move all the contiguous items to a different location when changed.

In [87]:
lst = list(range(1000000))

In [90]:
deq = deque(range(1000000))

In [94]:
import random

In [95]:
def remove_insert(ds):
    for _ in range(10):
        index = random.choice(range(100))
        ds.remove(index)
        ds.insert(index, index)
    return ds

In [96]:
%timeit remove_insert(lst)

21.6 ms ± 1.81 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [97]:
%timeit remove_insert(deq)

51.6 µs ± 3.86 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [102]:
random.randint(1, 100)

86

In [107]:
random.choice(range(100))

10